<html>
  <head>
    <title>pub.ericbarch.com</title>
  </head>
  
  <body>
    <h3>pub.ericbarch.com <a href="https://www.scuttlebutt.nz/" target="_blank">scuttlebutt</a> invite</h3>
    <pre><%= inviteCode %></pre>
  </body>
</html>
